/* use kabob case for css ( css-style) */

*{
    margin:0;
    padding:0;
}

.container{
    width:100%;
    display:grid;
    grid-template-columns:50% 50%;
    /* grid-column-gap:100px; */
    grid-row-gap:5%;
    
    
}

.box{
    /* the width is 80% of the column of the grid */
    width: 80%;
    height:400px;
    margin:auto;
    border:1px solid black;
    position:relative;
    
}

h1{
    color:black;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    font-size:35px;
}
 
label{
    text-align:center;
}

input{
    width:80%;
    height:30px;
    margin:auto;
}

#contents{
    display: grid;
    margin:20px;
    grid-template-columns: 20% 80%;
    row-gap:20px;
    column-gap:0;
}

#heron, #amb{
    position:absolute;
    width:79%;
    left: 10.5%;
    height:30px;
}





/* body{
    display:grid;

} */